<!DOCTYPE html>
<html lang="<%= currentLanguage %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= translation.booksTitle %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
         body {
            background-color: #f2f2f2;
            color: #333;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #d2daff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            text-align: center; 
            width: 80%; 
            margin-left: auto; 
            margin-right: auto;
        }

        h1 {
            color: #333;
        }

        .result-container {
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        button[type="submit"] {
        background-color: #333;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 15px; 
    }

    button[type="submit"]:hover {
        background-color: #555;
    }

        input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #aaa;
            background-color: transparent;
            transition: border-bottom-color 0.3s ease;
        }
        select[name="language"] {
    width: auto;
    padding: 5px 10px;
    border: 1px solid #d2daff;
    border-radius: 5px;
    background-color: #d2daff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
select[name="language"] {
    padding: 10px 15px;
    border: 1px solid #d2daff;
    border-radius: 5px;
    background-color: #d2daff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

select[name="language"]:focus {
    border-color: #555;
}

.navbar-nav li.form-inline {
    display: flex;
    align-items: center;
}

.navbar-nav li.form-inline select[name="language"] {
    margin-right: 10px;
}
@media (max-width: 768px) {
    .navbar-nav li.form-inline {
        flex-direction: column;
    }
    
    .navbar-nav li.form-inline select[name="language"] {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
        
    </style>
</head>
<body>
    <section class="header">
        <div class="header-main bg-light-pink"> 
            <div class="container">
                <div class="col-md-auto">
                    <nav class="navbar navbar-expand-lg navbar-light w-100" id="header-navbar">
                        <a class="navbar-brand font-weight-bold" href="/index?lang=<%= currentLanguage %>"><%= translation.navbarBrand %></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/books?lang=<%= currentLanguage %>"><%= translation.navBooks %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/podcasts?lang=<%= currentLanguage %>"><%= translation.navPodcasts %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/myCourses?lang=<%= currentLanguage %>"><%= translation.navMyCourses %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/profile?lang=<%= currentLanguage %>"><%= translation.navProfile %></a>
                                </li>
                
                                <% if (isAdmin) { %>
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase" href="/admin/users?lang=<%= currentLanguage %>"><%= translation.navAdminPage %></a>
                                    </li>
                                <% } %>
                                <form id="language-form" action="/change-language" method="POST">
                                    <select name="language" onchange="document.getElementById('language-form').submit()">
                                        <option value="en" <% if(currentLanguage === 'en') { %> selected <% } %>>En</option>
                                        <option value="kz" <% if(currentLanguage === 'kz') { %> selected <% } %>>Kz</option>
                                    </select>
                                </form>
                            </ul>
                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container mt-4">
            <h1><%= translation.booksListTitle %></h1>
            <form action="/books?lang=<%= currentLanguage %>" method="POST">
                <label for="bookTitle"><%= translation.enterBookTitle %>:</label>
                <input type="text" id="bookTitle" name="book">
                <button type="submit"><%= translation.searchBtn %></button>
            </form>
            <div class="mt-3 result-container" id="weatherResult">
                <ul style="list-style-type: none; padding: 0;">
                    <% if (books && books.length > 0) { %>
                        <% books.forEach(function(book) { %>
                            <li style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                                <h2><%= book.title %></h2>
                                <p><%= translation.author %>: <%= book.author %></p>
                                <p><%= translation.publishDate %>: <%= book.publishDate %></p>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li><%= translation.noBooksFound %></li>
                    <% } %>
                </ul>
            </div>
            
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p><%= translation.footerText %></p>
        </div>
    </footer>

</body>

</html>
