<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2;
            color: #333;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
    
        .container {
            background-color: #d2daff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            text-align: center; 
            width: 80%; 
            margin-left: auto; 
            margin-right: auto;
        }
    
        h1 {
            color: #333;
        }
    
        .result-container {
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        button[type="submit"] {
            background-color: #333;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 15px; 
        }
    
        button[type="submit"]:hover {
            background-color: #555;
        }
    
        input[type="text"],
        input[type="password"],
        input[type="number"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #aaa;
            background-color: transparent;
            transition: border-bottom-color 0.3s ease;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #dee2e6;
            text-align: left;
        }
        th {
            background-color: #f8f9fa;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <section class="header">
        <div class="header-main bg-light-pink"> 
            <div class="container">
                <div class="col-md-auto">
                    <nav class="navbar navbar-expand-lg navbar-light w-100" id="header-navbar">
                        <a class="navbar-brand font-weight-bold" href="/index">couRses</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/admin/users">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/admin/courses">Courses</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Language
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">English</a>
                                        <a class="dropdown-item" href="#">Русский</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <h1>Welcome to the Admin Dashboard</h1>

        <div class="container mt-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourseModal">Add Course</button>
        </div>

        <h2>Courses:</h2>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Duration (hours)</th>
                        <th>Price ($)</th>
                        <th>Places</th>
                        <th>Category</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(course => { %>
                        <tr>
                            <td><%= course.names.find(name => name.language === 'english').name %></td>
                            <td><%= course.descriptions.find(description => description.language === 'english').description %></td>
                            <td><%= course.duration %></td>
                            <td><%= course.price %></td>
                            <td><%= course.places %></td>
                            <td><%= course.category %></td>
                            <td><%= course.startDate.toISOString().split('T')[0] %></td>
                            <td><%= course.endDate ? course.endDate.toISOString().split('T')[0] : 'N/A' %></td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCourseModal<%= course._id %>">
                                    Update
                                </button>

                                <form method="POST" action="/admin/courses/delete/<%= course._id %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Course Modal -->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCourseModalLabel">Add Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCourseForm" method="POST" action="/admin/courses" enctype="multipart/form-data">
                        <!-- Form fields for adding a new course -->
                        <!-- Name (English) -->
                        <label for="addNameEnglish">Name (English):</label>
                        <input type="text" id="addNameEnglish" name="names[0][language]" value="english" style="display: none;">
                        <input type="text" id="addNameEnglish" name="names[0][name]" placeholder="Enter English name" required>
                        <br>
                        <!-- Name (Kazakh) -->
                        <label for="addNameKazakh">Name (Kazakh):</label>
                        <input type="text" id="addNameKazakh" name="names[1][language]" value="kazakh" style="display: none;">
                        <input type="text" id="addNameKazakh" name="names[1][name]" placeholder="Enter Kazakh name" required>
                        <br>
                        <!-- Description (English) -->
                        <label for="addDescriptionEnglish">Description (English):</label>
                        <textarea id="addDescriptionEnglish" name="descriptions[0][language]" style="display: none;">english</textarea>
                        <textarea id="addDescriptionEnglish" name="descriptions[0][description]" placeholder="Enter English description" required></textarea>
                        <br>
                        <!-- Description (Kazakh) -->
                        <label for="addDescriptionKazakh">Description (Kazakh):</label>
                        <textarea id="addDescriptionKazakh" name="descriptions[1][language]" style="display: none;">kazakh</textarea>
                        <textarea id="addDescriptionKazakh" name="descriptions[1][description]" placeholder="Enter Kazakh description" required></textarea>
                        <br>
                        <!-- Duration (hours) -->
                        <label for="addDuration">Duration (hours):</label>
                        <input type="number" id="addDuration" name="duration" required>
                        <br>
                        <!-- Price ($) -->
                        <label for="addPrice">Price ($):</label>
                        <input type="number" id="addPrice" name="price" required>
                        <br>
                        <!-- Places -->
                        <label for="addPlaces">Places:</label>
                        <input type="number" id="addPlaces" name="places">
                        <br>
                        <!-- Category -->
                        <label for="addCategory">Category:</label>
                        <input type="text" id="addCategory" name="category" required>
                        <br>
                        <!-- Start Date -->
                        <label for="addStartDate">Start Date:</label>
                        <input type="date" id="addStartDate" name="startDate" required>
                        <br>
                        <!-- End Date -->
                        <label for="addEndDate">End Date:</label>
                        <input type="date" id="addEndDate" name="endDate">
                        <br>
                        <!-- Images -->
                        <label for="addImage1">Image 1:</label>
                        <input type="file" id="addImage1" name="images[]" accept="image/*" required>
                        <br>
                        <label for="addImage2">Image 2:</label>
                        <input type="file" id="addImage2" name="images[]" accept="image/*" required>
                        <br>
                        <label for="addImage3">Image 3:</label>
                        <input type="file" id="addImage3" name="images[]" accept="image/*" required>
                        <br>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Add Course</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

   <!-- Update Course Modal -->
<% courses.forEach(course => { %>
    <div class="modal fade" id="updateCourseModal<%= course._id %>" tabindex="-1" role="dialog" aria-labelledby="updateCourseModalLabel<%= course._id %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCourseModalLabel<%= course._id %>">Update Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/admin/courses/update/<%= course._id %>" >
                        <!-- Form fields for updating a course -->
                        <!-- Name (English) -->
                        <label for="updateNameEnglish<%= course._id %>">Name (English):</label>
                        <input type="text" id="updateNameEnglish<%= course._id %>" name="names[0][language]" value="english" style="display: none;">
                        <input type="text" id="updateNameEnglishValue<%= course._id %>" name="names[0][name]" placeholder="Enter English name" value="<%= course.names.find(name => name.language === 'english') ? course.names.find(name => name.language === 'english').name : '' %>">
                        <br>
                        <!-- Name (Kazakh) -->
                        <label for="updateNameKazakh<%= course._id %>">Name (Kazakh):</label>
                        <input type="text" id="updateNameKazakh<%= course._id %>" name="names[1][language]" value="kazakh" style="display: none;">
                        <input type="text" id="updateNameKazakhValue<%= course._id %>" name="names[1][name]" placeholder="Enter Kazakh name" value="<%= course.names.find(name => name.language === 'kazakh') ? course.names.find(name => name.language === 'kazakh').name : '' %>">
                        <br>
                        <!-- Description (English) -->
                        <label for="updateDescriptionEnglish<%= course._id %>">Description (English):</label>
                        <textarea id="updateDescriptionEnglish<%= course._id %>" name="descriptions[0][language]" style="display: none;">english</textarea>
                        <textarea id="updateDescriptionEnglishValue<%= course._id %>" name="descriptions[0][description]" placeholder="Enter English description" ><%= course.descriptions.find(description => description.language === 'english') ? course.descriptions.find(description => description.language === 'english').description : '' %></textarea>
                        <br>
                        <!-- Description (Kazakh) -->
                        <label for="updateDescriptionKazakh<%= course._id %>">Description (Kazakh):</label>
                        <textarea id="updateDescriptionKazakh<%= course._id %>" name="descriptions[1][language]" style="display: none;">kazakh</textarea>
                        <textarea id="updateDescriptionKazakhValue<%= course._id %>" name="descriptions[1][description]" placeholder="Enter Kazakh description" ><%= course.descriptions.find(description => description.language === 'kazakh') ? course.descriptions.find(description => description.language === 'kazakh').description : '' %></textarea>
                        <br>
                        <!-- Duration (hours) -->
                        <label for="updateDuration<%= course._id %>">Duration (hours):</label>
                        <input type="number" id="updateDuration<%= course._id %>" name="duration" value="<%= course.duration %>">
                        <br>
                        <!-- Price ($) -->
                        <label for="updatePrice<%= course._id %>">Price ($):</label>
                        <input type="number" id="updatePrice<%= course._id %>" name="price" value="<%= course.price %>">
                        <br>
                        <!-- Places -->
                        <label for="updatePlaces<%= course._id %>">Places:</label>
                        <input type="number" id="updatePlaces<%= course._id %>" name="places" value="<%= course.places %>">
                        <br>
                        <!-- Category -->
                        <label for="updateCategory<%= course._id %>">Category:</label>
                        <input type="text" id="updateCategory<%= course._id %>" name="category" value="<%= course.category %>">
                        <br>
                        <!-- Start Date -->
                        <label for="updateStartDate<%= course._id %>">Start Date:</label>
                        <input type="date" id="updateStartDate<%= course._id %>" name="startDate" value="<%= course.startDate.toISOString().split('T')[0] %>">
                        <br>
                        <!-- End Date -->
                        <label for="updateEndDate<%= course._id %>">End Date:</label>
                        <input type="date" id="updateEndDate<%= course._id %>" name="endDate" value="<%= course.endDate ? course.endDate.toISOString().split('T')[0] : '' %>">
                        <br>
                        <!-- Images -->
                        <!-- Here you can decide whether you want to display the current images or leave it empty for updating -->
                        <br>
                        <!-- Course ID -->
                        <input type="hidden" name="course_id" value="<%= course._id %>">
                        <br>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Update Course</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% }) %>

<footer class="footer">
    <div class="container">
        <p>Zhansaya Musabekova | SE-2206</p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
