<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2;
            color: #333;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
    
        .container {
            background-color: #d2daff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            text-align: center; 
            width: 80%; 
            margin-left: auto; 
            margin-right: auto;
        }
    
        h1 {
            color: #333;
        }
    
        .result-container {
            background-color: #f9f9f9;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        button[type="submit"] {
            background-color: #333;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 15px; 
        }
    
        button[type="submit"]:hover {
            background-color: #555;
        }
    
        input[type="text"],
        input[type="password"],
        input[type="number"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 2px solid #aaa;
            background-color: transparent;
            transition: border-bottom-color 0.3s ease;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border-bottom: 1px solid #dee2e6;
            text-align: left;
        }
        th {
            background-color: #f8f9fa;
            font-weight: bold;
        }
        select[name="language"] {
    width: auto;
    padding: 5px 10px;
    border: 1px solid #d2daff;
    border-radius: 5px;
    background-color: #d2daff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
select[name="language"] {
    padding: 10px 15px;
    border: 1px solid #d2daff;
    border-radius: 5px;
    background-color: #d2daff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

select[name="language"]:focus {
    border-color: #555;
}

.navbar-nav li.form-inline {
    display: flex;
    align-items: center;
}

.navbar-nav li.form-inline select[name="language"] {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .navbar-nav li.form-inline {
        flex-direction: column;
    }
    
    .navbar-nav li.form-inline select[name="language"] {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
    </style>
</head>
<body>
    <section class="header">
        <div class="header-main bg-light-pink"> 
            <div class="container">
                <div class="col-md-auto">
                    <nav class="navbar navbar-expand-lg navbar-light w-100" id="header-navbar">
                        <a class="navbar-brand font-weight-bold" href="/index?lang=<%= currentLanguage %>"><%= translation.navbarBrand %></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/admin/users?lang=<%= currentLanguage %>"><%= translation.usersNav %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="/admin/courses?lang=<%= currentLanguage %>"><%= translation.coursesNav %></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <form id="language-form" action="/change-language" method="POST">
                                        <select name="language" onchange="this.form.submit()"> 
                                            <option value="en" <% if(currentLanguage === 'en') { %> selected <% } %>>En</option>
                                            <option value="kz" <% if(currentLanguage === 'kz') { %> selected <% } %>>Kz</option>
                                        </select>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h2><%= translation.coursesTitle %>:</h2>
        <div class="container mt-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourseModal"><%= translation.addCourseBtn %></button>
        </div>
        <h3><%= translation.courseSectionTitle %></h3>
        <div class=" table-responsive">
        <table>
            <thead>
                <tr>
                    <th><%= translation.name %></th>
                    <th><%= translation.description %></th>
                    <th><%= translation.duration %></th>
                    <th><%= translation.price %></th>
                    <th><%= translation.places %></th>
                    <th><%= translation.category %></th>
                    <th><%= translation.startDate %></th>
                    <th><%= translation.endDate %></th>
                    <th><%= translation.actions %></th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(course => { %>
                    <tr>
                        <td>
                            <% if (currentLanguage === 'en') { %>
                                <h5 class="card-title"><%= course.names[0].name %></h5>
                            <% } else if (currentLanguage === 'kz') { %>
                                <h5 class="card-title"><%= course.names[1].name %></h5>
                            <% } %>
                        </td>
                        <td>
                            <% if (currentLanguage === 'en') { %>
                                <p class="card-text"><%= course.descriptions[0].description %></p>
                            <% } else if (currentLanguage === 'kz') { %>
                                <p class="card-text"><%= course.descriptions[1].description %></p>
                            <% } %>
                        </td>
                        
                        <td><%= course.duration %></td>
                        <td><%= course.price %></td>
                        <td><%= course.places %></td>
                        <td><%= course.category %></td>
                        <td><%= course.startDate.toISOString().split('T')[0] %></td>
                        <td><%= course.endDate ? course.endDate.toISOString().split('T')[0] : 'N/A' %></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCourseModal<%= course._id %>">
                                <%= translation.updateBtn %>
                            </button>

                            <form method="POST" action="/admin/courses/delete/<%= course._id %>?lang=<%= currentLanguage %>">
                                <button type="submit"><%= translation.deleteBtn %></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
</div>
    
<div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel"><%= translation.addModalTitle %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCourseForm" method="POST" action="/admin/courses?lang=<%= currentLanguage %>" enctype="multipart/form-data">
                    <label for="addNameEnglish"><%= translation.nameEnglish %>:</label>
                    <input type="text" id="addNameEnglish" name="names[0][language]" value="english" style="display: none;">
                    <input type="text" id="addNameEnglish" name="names[0][name]" placeholder="<%= translation.enterEnglishName %>" required>
                    <br>
                    <label for="addNameKazakh"><%= translation.nameKazakh %>:</label>
                    <input type="text" id="addNameKazakh" name="names[1][language]" value="kazakh" style="display: none;">
                    <input type="text" id="addNameKazakh" name="names[1][name]" placeholder="<%= translation.enterKazakhName %>" required>
                    <br>
                    <label for="addDescriptionEnglish"><%= translation.descriptionEnglish %>:</label>
                    <textarea id="addDescriptionEnglish" name="descriptions[0][language]" style="display: none;"><%= translation.english %></textarea>
                    <textarea id="addDescriptionEnglish" name="descriptions[0][description]" placeholder="<%= translation.enterEnglishDescription %>" required></textarea>
                    <br>
                    <label for="addDescriptionKazakh"><%= translation.descriptionKazakh %>:</label>
                    <textarea id="addDescriptionKazakh" name="descriptions[1][language]" style="display: none;"><%= translation.kazakh %></textarea>
                    <textarea id="addDescriptionKazakh" name="descriptions[1][description]" placeholder="<%= translation.enterKazakhDescription %>" required></textarea>
                    <br>
                    <label for="addDuration"><%= translation.durationHours %>:</label>
                    <input type="number" id="addDuration" name="duration" required>
                    <br>
                    <label for="addPrice"><%= translation.priceDollars %>:</label>
                    <input type="number" id="addPrice" name="price" required>
                    <br>
                    <label for="addPlaces"><%= translation.places %>:</label>
                    <input type="number" id="addPlaces" name="places">
                    <br>
                    <label for="addCategory"><%= translation.category %>:</label>
                    <input type="text" id="addCategory" name="category" required>
                    <br>
                    <label for="addStartDate"><%= translation.startDate %>:</label>
                    <input type="date" id="addStartDate" name="startDate" required>
                    <br>
                    <label for="addEndDate"><%= translation.endDate %>:</label>
                    <input type="date" id="addEndDate" name="endDate">
                    <br>
                    <label for="addImage1"><%= translation.image1 %>:</label>
                    <input type="file" id="addImage1" name="images[]" accept="image/*" required>
                    <br>
                    <label for="addImage2"><%= translation.image2 %>:</label>
                    <input type="file" id="addImage2" name="images[]" accept="image/*" required>
                    <br>
                    <label for="addImage3"><%= translation.image3 %>:</label>
                    <input type="file" id="addImage3" name="images[]" accept="image/*" required>
                    <br>
                    <button type="submit" class="btn btn-primary"><%= translation.addCourseBtn %></button>
                </form>
            </div>
        </div>
    </div>
</div>

<% courses.forEach(course => { %>
    <div class="modal fade" id="updateCourseModal<%= course._id %>" tabindex="-1" role="dialog" aria-labelledby="updateCourseModalLabel<%= course._id %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCourseModalLabel<%= course._id %>"><%= translation.modalTitle %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/admin/courses/update/<%= course._id %>?lang=<%= currentLanguage %>" >
                        <label for="updateNameEnglish<%= course._id %>"><%= translation.nameEnglish %>:</label>
                        <input type="text" id="updateNameEnglish<%= course._id %>" name="names[0][language]" value="english" style="display: none;">
                        <input type="text" id="updateNameEnglishValue<%= course._id %>" name="names[0][name]" placeholder="<%= translation.enterEnglishName %>" value="<%= course.names.find(name => name.language === 'english') ? course.names.find(name => name.language === 'english').name : '' %>">
                        <br>
                        <label for="updateNameKazakh<%= course._id %>"><%= translation.nameKazakh %>:</label>
                        <input type="text" id="updateNameKazakh<%= course._id %>" name="names[1][language]" value="kazakh" style="display: none;">
                        <input type="text" id="updateNameKazakhValue<%= course._id %>" name="names[1][name]" placeholder="<%= translation.enterKazakhName %>" value="<%= course.names.find(name => name.language === 'kazakh') ? course.names.find(name => name.language === 'kazakh').name : '' %>">
                        <br>
                        <label for="updateDescriptionEnglish<%= course._id %>"><%= translation.descriptionEnglish %>:</label>
                        <textarea id="updateDescriptionEnglish<%= course._id %>" name="descriptions[0][language]" style="display: none;"><%= translation.english %></textarea>
                        <textarea id="updateDescriptionEnglishValue<%= course._id %>" name="descriptions[0][description]" placeholder="<%= translation.enterEnglishDescription %>" ><%= course.descriptions.find(description => description.language === 'english') ? course.descriptions.find(description => description.language === 'english').description : '' %></textarea>
                        <br>
                        <label for="updateDescriptionKazakh<%= course._id %>"><%= translation.descriptionKazakh %>:</label>
                        <textarea id="updateDescriptionKazakh<%= course._id %>" name="descriptions[1][language]" style="display: none;"><%= translation.kazakh %></textarea>
                        <textarea id="updateDescriptionKazakhValue<%= course._id %>" name="descriptions[1][description]" placeholder="<%= translation.enterKazakhDescription %>" ><%= course.descriptions.find(description => description.language === 'kazakh') ? course.descriptions.find(description => description.language === 'kazakh').description : '' %></textarea>
                        <br>
                        <label for="updateDuration<%= course._id %>"><%= translation.durationHours %>:</label>
                        <input type="number" id="updateDuration<%= course._id %>" name="duration" value="<%= course.duration %>">
                        <br>
                        <label for="updatePrice<%= course._id %>"><%= translation.priceDollars %>:</label>
                        <input type="number" id="updatePrice<%= course._id %>" name="price" value="<%= course.price %>">
                        <br>
                        <label for="updatePlaces<%= course._id %>"><%= translation.places %>:</label>
                        <input type="number" id="updatePlaces<%= course._id %>" name="places" value="<%= course.places %>">
                        <br>
                        <label for="updateCategory<%= course._id %>"><%= translation.category %>:</label>
                        <input type="text" id="updateCategory<%= course._id %>" name="category" value="<%= course.category %>">
                        <br>
                        <label for="updateStartDate<%= course._id %>"><%= translation.startDate %>:</label>
                        <input type="date" id="updateStartDate<%= course._id %>" name="startDate" value="<%= course.startDate.toISOString().split('T')[0] %>">
                        <br>
                        <label for="updateEndDate<%= course._id %>"><%= translation.endDate %>:</label>
                        <input type="date" id="updateEndDate<%= course._id %>" name="endDate" value="<%= course.endDate ? course.endDate.toISOString().split('T')[0] : '' %>">
                        <br>
                        <input type="hidden" name="course_id" value="<%= course._id %>">
                        <br>
                        <button type="submit" class="btn btn-primary"><%= translation.updateCourseBtn %></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% }) %>

<footer class="footer">
    <div class="container">
        <p><%= translation.footerText %></p>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
